*{
scroll-behavior: smooth;
font-family: 'Noto Sans TC', sans-serif;

}

.head-back{
    background: rgba(0, 0, 0, 0.4);
}
.about{
    height: 720px;
    background: lightslategray;
}
.title{
    padding-top: 30px;
/* 因為隱藏了nav所以不用往下推了 */
}
.text{
    font-size: 16px;

}
.skill{
    height: 720px;
    background: lightgoldenrodyellow;
}
.story{
    height: 720px;
    background: lightgreen;
}

.thing{
    height: 720px;
    background: lightpink;
}
.pro{
    height: 720px;
    background: lightsteelblue;
}
.row{
    margin: 10px;
}