* {
  scroll-behavior: smooth;
  font-family: "Noto Sans TC", sans-serif;
}
p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  color: #eee;
}

a {
  text-decoration: none;
  background: transparent;
}

i {
  color: white;
  font-size: 1.2rem;
  margin: 5 auto;
  padding: 5px;
}
.titlebar {
  width: 80%;
  margin: auto;
}

.head-back {
  background: rgba(0, 0, 0, 0.8);
}
.about {
  height: 150%;
  background-image: url(../img/bg.JPG);
  background-repeat: inherit;
  background-attachment: fixed;
}

.text {
  font-size: 16px;
}
.skill {
  height: 150%;
  background: #0f4c81;
  color: white;
  /* background: lightgoldenrodyellow; */
}
.story {
  height: 80%;
  background-image: url(../img/bg.JPG);
  background-repeat: inherit;
  background-attachment: fixed;
}

.thing {
  height: 120%;
  background-image: url(../img/bg.JPG);
  background-repeat: inherit;
  background-attachment: fixed;
}
.pro {
  height: 120%;
  background: #0f4c81;
  color: white;
}
.row {
  margin: 10px;
}
ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.info {
  list-style: none;
  background: #eee;
  border-radius: 15px;
  box-shadow: rgb(190, 190, 190) 5px 5px 5px;
}

.info li .first-block {
  width: 25%;
  float: left;
  list-style: none;
  padding: 10px 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
}
.info li .second-block {
  width: 70%;
  float: left;
  padding: 10px 0;
  list-style: none;
  color: #333;
  font-size: 1rem;
  line-height: 1.5rem;
}

.icon {
  background: #b7cd32;
  border-radius: 15px;
  font-size: 0.8rem;
}

.time {
  width:200%;
  margin: auto;
  
}

.mypage {
  background-image: linear-gradient(45deg, #58110a 0%, #0f4c81 99%, #eee 100%);
}
.hover1 {
  overflow: hidden;
  text-align: center;
  box-shadow: black 1px 1px 15px;
}
.hover1 img {
  transition: all 1.5s ease;
}

.hover1:hover img {
  transform: scale(1.5);
}

.st{
background-attachment: fixed;
height: 400px;
width: 100%;
border-radius: 5px;
background-repeat: no-repeat;
background-size: cover;

filter: grayscale(1);

}
.st:hover{
    filter: saturate(0.5);

}
.stdiv{
    font-size: 4rem;
    font-weight: bolder;
    /* color: rgba(15,76,129, 0.9); */
    box-shadow: rgba(5, 5, 5, 0.8);
    width: 100%;
    height: 100%;
    color: transparent;


}
.stdiv:hover{
    color: white !important;
    font-size: 1.5rem;
    background: rgba(15,76,129, 0.9);
    width: 100%;
    height: 80%;
    border-radius:15px;
    margin: auto;
    transition: all 1s;
}
.stp{
    font-size:0.8rem;
    width: 100%;
    height: 100%;
    line-height: 1rem;
}