* {
  scroll-behavior: smooth;

}
p{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0;
    color: #eee;
}

a{
    text-decoration: none;
    background: transparent;}

    
i{
    color: white;
    font-size: 1.2rem;
    margin: 5 auto;
    padding: 5px;
    
}
.titlebar{
    width: 80%;
    margin: auto;
}

.head-back {
  background: rgba(0, 0, 0, 0.8);
}
.about {
  height: 100%;
  background-image: url(../img/bg.JPG);
  background-repeat: inherit;
  background-attachment: fixed;
}
.title {
  padding-top: 30px;
  /* 因為隱藏了nav所以不用往下推了 */
}
.text {
  font-size: 16px;
}
.skill {
  height: 120%;
  background: rgba(240, 240, 44, 0.2);
  /* background: lightgoldenrodyellow; */
}
.story {
  height: 120%;
  /* background: #90ee90; */
  background: rgba(144, 238, 144, 0.2);
}

.thing {
  height: 120%;
  background-image: url(../img/bg.JPG);
  background-repeat: inherit;
  background-attachment: fixed;
}
.pro {
  height: 120%;
  background-image: url(../img/bg.JPG);
  background-repeat: inherit;
  background-attachment: fixed;
}
.row {
  margin: 10px;
}
ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.info {
  list-style: none;
  background: white;
  border-radius: 15px;
  box-shadow: rgb(190, 190, 190) 5px 5px 5px;
}

.info li .first-block {
  width: 30%;
  float: left;
  list-style: none;
  padding: 10px 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
.info li .second-block {
  width: 70%;
  float: left;
  padding: 10px 0;
  list-style: none;
  color: #333;
  font-size: 1rem;
  line-height: 2rem;
}

.story{
height: 50%;
background: #DCCCA3;
overflow: auto;

}

.time{
  width: 60%;
  margin: 5% auto;
}

.mypage{
    background-image: linear-gradient(45deg,  #58110a 0%,   #0f4c81 99%, #eee 100%);
}
.hover1{
 overflow: hidden;
}
.hover1 img{
transition: all 1.5s ease;

}

.hover1:hover img{

transform: scale(1.5);
}
